In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDow@email.com", "JohnDoe@email"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDow@email.com
2   John      Doe            JohnDoe@email

In [5]:
df["email"]

0    CoreyMSchafer@gmail.com
1          JaneDow@email.com
2              JohnDoe@email
Name: email, dtype: object

In [6]:
type(df["email"])

pandas.core.series.Series

In [7]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDow@email.com
2              JohnDoe@email
Name: email, dtype: object

In [8]:
df[["first", "last"]]

   first     last
0  Corey  Schafer
1   Jane      Doe
2   John      Doe

In [9]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDow@email.com
2   John      Doe            JohnDoe@email

In [11]:
df.iloc[[0,1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDow@email.com
Name: email, dtype: object

In [12]:
df.loc[[0,1], ["email", "last"]]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDow@email.com      Doe