In [1]:
people = {
    "first": ["Corey", "Jane", "John"],
    "last": ["Schafer", "Doe", "Doe"],
    "email": ["CoreyMSchafer@gmail.com", "JaneDow@email.com", "JohnDoe@email"]
}

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDow@email.com
2   John      Doe            JohnDoe@email

In [5]:
df["email"]

0    CoreyMSchafer@gmail.com
1          JaneDow@email.com
2              JohnDoe@email
Name: email, dtype: object

In [6]:
type(df["email"])

pandas.core.series.Series

In [7]:
df.email

0    CoreyMSchafer@gmail.com
1          JaneDow@email.com
2              JohnDoe@email
Name: email, dtype: object

In [8]:
ds = df[["first", "last"]]
type(ds)

pandas.core.frame.DataFrame

In [9]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [10]:
df

   first     last                    email
0  Corey  Schafer  CoreyMSchafer@gmail.com
1   Jane      Doe        JaneDow@email.com
2   John      Doe            JohnDoe@email

In [17]:
df.iloc[[0,1], 2]

0    CoreyMSchafer@gmail.com
1          JaneDow@email.com
Name: email, dtype: object

In [18]:
ds = df.iloc[[0,1], 2]
type(ds)

pandas.core.series.Series

In [12]:
df.loc[[0,1], ["email", "last"]]

                     email     last
0  CoreyMSchafer@gmail.com  Schafer
1        JaneDow@email.com      Doe

In [21]:
ds = df.loc[[0,1], ["email", "last"]]
type(ds)

pandas.core.frame.DataFrame

In [24]:
df.set_index("email", inplace=True)
df

                         first     last
email
CoreyMSchafer@gmail.com  Corey  Schafer
JaneDow@email.com         Jane      Doe
JohnDoe@email             John      Doe

In [27]:
df.loc["CoreyMSchafer@gmail.com", ["last"]]

last    Schafer
Name: CoreyMSchafer@gmail.com, dtype: object

In [28]:
ds = df.loc["CoreyMSchafer@gmail.com", ["last"]]
type(ds)

pandas.core.series.Series

In [31]:
ds.str.len()

last    7
Name: CoreyMSchafer@gmail.com, dtype: int64

In [32]:
df.index

Index(['CoreyMSchafer@gmail.com', 'JaneDow@email.com', 'JohnDoe@email'], dtype='object', name='email')

In [33]:
df.iloc[1]

first    Jane
last      Doe
Name: JaneDow@email.com, dtype: object

In [35]:
ds = df.iloc[1]
dictionary = ds.to_dict()
dictionary

{'first': 'Jane', 'last': 'Doe'}

In [36]:
df.reset_index(inplace=True)
df

                     email  first     last
0  CoreyMSchafer@gmail.com  Corey  Schafer
1        JaneDow@email.com   Jane      Doe
2            JohnDoe@email   John      Doe